{% extends 'index.html' %}
{% block coursesactive %}active{% endblock %}
{% block title %}C - Courses | CodeBox{% endblock %}
{% block content %}

   <style>
html {font-size: 14px;}
@media (min-width: 768px) {html {font-size: 16px;}}
.container {padding: 60px 15px 0; max-width: 960px;} .pricing-header {max-width: 700px;} .card-deck .card {min-width: 220px;} .border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; } .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

    .menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}

.menu {
  float:left;
  width:12%;
  text-align:center;
  margin-top:45px;
}

.main {
  float:left;
  width:65%;
  padding:0 20px;
  margin-top: 60px;
}
.right {
  background-color:#e5e5e5;
  float:left;
  width:23%;
  padding:15px;
  margin-top:55px;
  text-align:center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #282C35;
  color: white;
  border: 2px solid black;

margin-right:28%;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: #282C35;
  color: white;
  border: 2px solid black;

margin-left:30%;

}

.button2:hover {
  background-color: #008CBA;
  color: white;
}



    </style>



    <div class="c">
        <body style="background-color: white;">
<div style="overflow:auto">
  <div class="menu">
    <a href="{% url 'c' %}">C</a>
    <a href="/courses/c++">C++</a>
    <a href="{% url 'python' %}">Python</a>
    <a href="{% url 'java' %}">Java</a>
<a href="#">Ruby</a>
<a href="#">C#</a>
<a href="#">Objective C</a>
<a href="#">PHP</a>
<a href="#">.NET</a>
<a href="#">Angular</a>
<a href="#">Node JS</a>
<a href="#">Javascript</a>
<a href="#">HTML</a>
<a href="#">CSS</a>
<a href="#">Bootstrap</a>


  </div>

  <div class="main">
    <h2>C Programming Language Tutorial</h2>
    <p>C language Tutorial with programming approach for beginners and professionals, helps you to understand the C language tutorial easily. Our C tutorial explains each topic with programs.

<p>The C Language is developed by Dennis Ritchie for creating system applications that directly interact with the hardware devices such as drivers, kernels, etc. C programming is considered as the base for other programming languages, that is why it is known as mother language.</p>

      <h2> Features of C</h2>
      <p>C is the widely used language. It provides many features that are given below.
      <p>1. Simple</p>
      <p>2. Machine Independent or Portable</p>
      <p>3. Mid-level programming language</p>

        <p>3. structured programming language
      <p>4. Rich Library<p>
    <p>5. Memory Management</p>
    <p>6. Fast Speed</p>
    <p>7. Pointers</p>
      <p>8. Recursion</p>
    </p>9. Extensible</p>
  </div>

  <div class="right">
    <h4>History of C</h4>
    <p>C programming language was developed in 1972 by Dennis Ritchie at bell laboratories of AT&T (American Telephone & Telegraph), located in the U.S.A. Dennis Ritchie is known as the founder of the c language.</p>
   <p>It was developed to overcome the problems of previous languages such as B, BCPL, etc. Initially, C language was developed to be used in UNIX operating system. It inherits many features of previous languages such as B and BCPL.</p>
   <p>C is the widely used language. It provides many features like: Simplicity, Machine Independent or Portable, Mid-level programming language, structured programming language, Rich Library, Memory Management, Fast Speed, Pointers, Recursion, Extensiblity.</p>
</div>
</div>

<button class="button button1">Previous</button>
<button class="button button2">Next</button>



    {% endblock %}
